SF_ACCOUNT=account_id
SF_USER=username
SF_PASSWORD=password
SF_WAREHOUSE=COMPUTE_WH
SF_DATABASE=NYC_TAXI_P3
SF_SCHEMA_RAW=RAW
SF_SCHEMA_ANALYTICS=ANALYTICS
SF_ROLE=ACCOUNTADMIN
PARQUET_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
TAXI_ZONE_URL=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
YEAR_START=2015
YEAR_END=2025
MONTH_START=1
MONTH_END=12
SERVICES=yellow,green
RUN_ID=backfill-2025-04
BATCH_SIZE=500000
ENABLE_VALIDATION=true